* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

img {
    max-width: 100%;
}

body {
    overflow: hidden;
    min-height: 100vh;
    background-image: url(../img/bg-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Fira Code', monospace;

    color: #fff;
}

header {
    background-color: #000;
    height: 100px;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.header__title {
    margin: 0 0 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.header__subtitle a {
    color: #ccc;
    text-transform: uppercase;
}

main {
    min-height: calc(100vh - 200px);
    width: 100%;
    padding: 60px 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
}

footer {
    height: 100px;
    background-color: #000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}


.examples {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
    list-style: none;
}

.example {
    width: 30%;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: #000;
    padding-bottom: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.example__img {
    position: relative;
    padding-top: 50%;
}

.example__img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.example__info {
    padding: 20px;
}

.example__title {
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .example {
        width: 45%;
    }
}

@media (max-width: 750px) {
    .example {
        width: 100%;
    }
}


* {
    cursor: none;
}

#cursor, #aura {
    position: absolute;
    border-radius: 100%;
    transition: .5s cubic-bezier(.75, -1.27, .3, 2.33) transform, .2s cubic-bezier(.75, -1.27, .3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, .75);
    transform: scale(1);
    will-change: transform, opacity;
}

#aura {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .25);
    transform: translate(5px, 5px);
    will-change: transform, opacity;
}

#cursor.hidden, #aura.hidden {
    transform: scale(0.001);
}

#cursor.active {
    opacity: 0;
    transform: scale(0);
}

#aura.active {
    border: 1.2px solid rgba(255, 255, 255, .75);
    transform: scale(1.3);
}