* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

a:hover {
    color: #88a49b;
}

body {
    min-height: 100vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Fira Code', monospace;
}

header {
    background-color: #000;
    color: #fff;
    height: 100px;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    margin: 0 0 10px;
    font-size: 24px;
}

.header__subtitle a {
    color: #ccc;
    text-transform: uppercase;
}

.header__btn {
    display: block;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.5);

    padding: 10px 20px;
}

.header__subtitle a:hover {
    color: #88a49b;
}

main {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 100%;
    height: 100%;
    max-width: 1240px;
    padding: 20px;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    height: auto;

    padding: 40px 20px;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 0, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    transform: perspective(800px)
}

.card h2 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.card p {
    color: #fff;
    margin: 20px 10px;
}

.card__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    color: #ccc;

    margin-top: 40px;
}

.card__list-item {
    font-size: 32px;
}

.card__list-item a {
    transition: 0.3s ease;
    display: block;
}

.card__list-item:hover a {
    color: #88a49b;
    transform: translateY(-10px);
}

footer {
    height: 100px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.footer__title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-self: start;
    list-style: none;
    font-size: 12px;
}

.footer__list li+li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
    .card {
        width: 45%;
        margin-bottom: 3%;
    }
}

@media (max-width: 750px) {
    .hidden--mobile {
        display: none;
    }

    .header__title {
        font-size: 16px;
        text-transform: uppercase;
    }

    .header__subtitle {
        font-size: 12px;
    }

    .card {
        width: 100%;
    }

    footer {
        display: block;
        height: 130px;
    }

    .footer__info {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
}