* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1.25s cubic-bezier(.2, .6, 0, 1);
}

html, body { 
    
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

a:hover {
    color: #88a49b;
}

header {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 100px;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    margin: 0 0 10px;
    font-size: 24px;
}

.header__subtitle a {
    color: #ccc;
    text-transform: uppercase;
}

.header__btn {
    display: block;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.5);

    padding: 10px 20px;
}

.header__subtitle a:hover {
    color: #88a49b;
}

.main {

    height: calc(100vh - 200px);
    overflow: hidden;

    display: flex;
    gap: var(--index);
}

.slider {
    transform: rotate(12.5deg);
    overflow: visible;
}

.slider:nth-child(odd) {
    transform: rotate(192.5deg);
}

.slider .slider__wrapper {
    transition: var(--transition)!important;
    will-change: transform;
}

.slider__item {
    width: 21vw;
    margin-bottom: calc(var(--index) * 2.75);
    cursor: pointer;
    transition: transform var(--transition);
    will-change: transform;
    box-shadow: 0 0 30px 10px rgb(0 0 0 / .15);
}

.slider__item:hover {
    transform: scale(1.04);
}

.slider__img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.slider:nth-child(odd) .slider__img img {
    transform: rotate(-180deg);
}

.slider__img img {
    object-fit: cover;
    object-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.footer__title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-self: start;
    list-style: none;
    font-size: 12px;
}

.footer__list li+li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 750px) {
    .hidden--mobile {
        display: none;
    }

    .header__title {
        font-size: 16px;
        text-transform: uppercase;
    }

    .header__subtitle {
        font-size: 12px;
    }

    footer {
        display: block;
        height: 130px;
    }

    .footer__info {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
}